*.aux
*.bbl
*.bcf
*.fls
*.fdb_latexmk
*.blg
*.lof
*.log
*.log
*.lol
*.lot
*.toc
*.synctex.gz
*.run.xml
*.idx
*.ind
*.out
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
masterthesis-documentation/site/
masterthesis-documentation/docs/kernel-patch/linux/
masterthesis-documentation/docs/kernel-patch/rt_linux/
.vscode/
masterthesis-documentation/docs/tools/